.navbar {
  background: #ededed;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-family: var(--text-ff-heading);
  font-weight: 900;
  font-size: 24px;
}

ul.navbar-navigation {
  display: flex;
  gap: 32px;
}

li.navbar-item {
  list-style-type: none;
}

a.navbar-link {
  text-decoration: none;
  color: initial;
}
