:root {
  --text-clr-muted: hsl(0, 0%, 55%);
  --text-ff-heading: "Cabinet Grotesk", sans-serif;
  --text-ff-paragraph: "Satoshi", sans-serif;
}

body {
  font-family: var(--text-ff-paragraph);
}

.heading {
  font-family: var(--text-ff-heading);
  font-weight: 900;
  text-transform: uppercase;
}

.heading-01 {
  font-size: 3.25rem;
  font-size: clamp(3.25rem, 3.1rem + 0.75vw, 4rem);
}

.heading-02 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
}

.text-muted {
  color: var(--text-clr-muted);
}
