/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-inline: 16px;

  @media (width > 525px) {
    padding-inline: 32px;
  }

  @media (width > 880px) {
    padding-inline: max(16px, 13%);
  }
  padding-block: 32px;
}

img.image-fluid {
  width: 100%;
  height: 100%;
}

img.image-cover {
  object-fit: cover;
}
