.container {
  padding-inline: max(16px, 16%);
  padding-block: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 32px;
}

.grid-item {
  background: red;
}

.section-heading {
  margin-bottom: 64px;
}
